.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    overflow: hidden;
  }
  
  .header__title {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 730px;
    margin: 0;
    margin-left: 64px;
    align-self: center;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600px;
    z-index: 1;
    position: relative;
  }
  
  .header__subtitle {
    position: absolute;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    max-width: 388px;
    margin: 0;
    left: 64px;
    bottom: 30px;
    z-index: 1;
  }
  
  .logo_place_header {
    top: 30px;
    left: 64px;
    width: 228px;
    height: 32px;
    position: absolute;
  }
  
  .header__link {
    color: #2F80ED;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }
  
  .header__link:hover {
    opacity: 0.6;
  }
  
  .header__square-pic {
    height: 568px;
    width: 568px;
    top: 64px;
    right: 0;
    background-color: #2F80ED;
    position: absolute;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
    object-position: right bottom;
  }