.header__link {
  color: #2F80ED;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
  
.header__link:hover {
  opacity: 0.6;
}