.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  width: 80%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}